[2020-07-26 04:47] kushthedude opened #2 "Add GolangCI-Lint"

[2020-08-01 13:10] kushthedude opened #5 "[Docs] Welcome celebration image is not present for welcome bot"
**Description**

Welcome celebration image is not present for welcome bot
**Expected Behavior**

Add celebration image as is added in other layer5 repositories.

[2020-08-06 18:40] #5 closed

[2020-08-10 14:46] kushthedude opened #7 "Add Release Drafter action"
**Current Situation**

Each of the layer5 repositories needs releaseDrafter automation as had been done in the meshery project which takes care of drafting release notes.

**Desired Situation**

Add ReleaseDrafter configuration yaml file & GitHub Action.

---

**Additional context**

[ReleaseDrafter Configuration File](https://github.com/layer5io/meshery/blob/master/.github/release-drafter.yml)
[R

[2020-08-24 05:51] #7 closed

[2020-08-24 05:52] kushthedude commented on #7
Fixed in https://github.com/layer5io/nighthawk-go/commit/6c0c76c82fd340a711bbe201e22d0fcaef32a766

[2020-08-24 08:18] #2 closed

[2020-08-24 14:45] kushthedude opened #11 "Add tests for the files"

[2020-09-18 04:31] kushthedude opened #15 "Fix the linting issues in the nighthawk api"
**Description**
Currently, golangci-lint is failing due to some code issues like comments, whitespaces, new-line etc.

**Errors to be fixed**
[code]
**Expected Behaviour**
Fix the linting issues and make the golangci-lint pass.

[2020-09-18 11:10] leecalcote commented on #15
@MukulMaheshwari you might want to take a look here.

[2020-09-18 15:04] MukulMaheshwari commented on #15
Sure , I can give it a try.

[2020-09-18 16:45] kushthedude commented on #15
Great of you to jump in @MukulMaheshwari

[2020-10-22 20:51] #15 closed

[2020-11-06 01:51] kushthedude opened #20 "Build nighthawk binary in CI"

[2020-11-06 06:55] sladyn98 commented on #11
So for now we would be testing only the nighthawk api right @kushthedude

[2020-11-06 06:57] kushthedude commented on #11
Yes, a simple tdd should to the trick for api.

On Fri, 6 Nov, 2020, 12:25 Sladyn, <notifications@github.com> wrote:

[2020-12-15 14:05] kushthedude opened #23 "Golangci is failing"

[2020-12-15 14:17] #20 closed

[2020-12-15 14:44] #23 closed

[2021-01-08 04:29] hwpplayer1 opened #26 "build.sh should be coded in different way to converge all devices and operating systems"
**Description**

There is a shell script which is a Debian/Ubuntu and derivatives spesific code there. I learn how our project is builded day by day but what about removing just `sudo`
**Expected Behavior**

`sudo` seems for me a security risk
**Source for the reason of this issue**

[code]

[2021-02-04 05:16] leecalcote opened #27 "[Site] Initialize /docs with meshery.io theme"
**Current Behavior**
GetNighthawk site has two html pages.

**Desired Behavior**
A full Jekyll-based theme is needed. Using meshery.io's theme as a starting point makes much sense.

[2021-02-04 05:20] leecalcote opened #28 "[CI] Initial Nighthawk build on local Linux machine"
**Current Behavior**
GetNighthawk does not build Nighthawk currently.

**Desired Behavior**
An initial successful build of Nighthawk using Envoy's toolchain is needed. Experiences from such a local build will inform how builds can be done in GitHub Actions.

---
**Resources**
- Envoy and Nighthawk's READMEs
- Envoy and Nighthawks GitHub Action workflows

[2021-02-04 05:26] leecalcote opened #29 "[Site] Design project logo and call for vote"
**Current Behavior**
The GetNighthawk is in need of a project logo.

**Desired Behavior**
1. A few logos are drafted, feedback is solicited and incorporated in to an iteration on the design.
2. A vote for favorite design is called for.
3. Winning has a logo package created and includes a number of color, vertical, horizontal, stacked, black, white, RGB, CMYK versions.

[2021-02-04 20:41] #27 closed

[2021-02-04 22:07] leecalcote opened #32 "[CI] Slack notifier not firing correctly"
**Description**
The #buzz channel should be notified each time that someone stars a repo.

**Details**
The name of this repo recently changed. The [slack.yaml workflow](https://github.com/layer5io/getnighthawk/blob/master/.github/workflows/slack.yml) needs updated to reflect this name change. See https://github.com/layer5io/getnighthawk/actions/runs/538443695

[2021-02-04 22:11] leecalcote opened #33 "[Site] currently not building; missing definition of plugins"
**Description**
The GetNighthawk site is not being built by GH Pages due to missing `plugins` stanza in _config.yaml.

**Expected Behavior**
Site should be updated with each merge of a PR that has changes in `/docs` folder.

[2021-02-05 00:05] #33 closed

[2021-02-05 05:23] leecalcote opened #34 "Create GitHub Issue Template for Site Updates"
**Current Behavior**
This repo contains a website. This repo should have an issue template for Site Updates in here https://github.com/layer5io/getnighthawk/tree/master/.github/ISSUE_TEMPLATE.

**Desired Behavior**
Copy the [site_update.md](https://github.com/layer5io/meshery.io/tree/master/.github/ISSUE_TEMPLATE) GitHub issue template from the `layer5io/meshery.io` repo to make a new issue templa

[2021-02-05 16:44] vinayaksh42 opened #35 "[Site] Navbar implementation for getnighthawk"
**Current Behavior**

Currently, the navbar is based on the meshery.io theme.

**Desired Behavior**

needs to be implemented according to the following [figma ](https://www.figma.com/file/5ZwEkSJwUPitURD59YHMEN/Layer5-Designs?node-id=2650%3A4236)mockup
Use a placeholder logo until the final getnighthawk logo is prepared.

![chrome_ziagJtEDEr](https://user-images.githubusercontent.com/54861487/1070

[2021-02-05 16:54] vinayaksh42 opened #36 "[Site] Hero Section (get started)"
**Current Behavior**

The start section/hero section of getnighthawk is occupied by the previous following section:
![chrome_xuuDsn5aMa](https://user-images.githubusercontent.com/54861487/107063776-c5a2c680-6800-11eb-8975-42d9680d8036.png)

**Desired Behavior**

needs to be implemented according to the following [figma ](https://www.figma.com/file/5ZwEkSJwUPitURD59YHMEN/Layer5-Designs?node-id=2650

[2021-02-05 18:53] leecalcote commented on #34
A link to the [GetNighthawk project doc](https://docs.google.com/document/d/1lHfMo4iIx2WXFZIspfHyxTsPR1T63_2IV5NUkgxoo0w/edit#) can be included under Contributor Resources in the template.

[2021-02-06 08:50] Grumpyyash commented on #36
Could I take this up?

[2021-02-06 09:39] Nikhil-Ladha commented on #36
Sure @Grumpyyash . Go ahead 👍🏼

[2021-02-09 17:33] #34 closed

[2021-02-09 19:12] leecalcote commented on #28
@ramrodo @kumarabd

[2021-02-10 20:55] vinayaksh42 opened #39 "[Site] Nighthawk description sections"
**Current State of the GetNighthawk.dev site**
Currently, there is no proper section for a complete nighthawk description

**Desired State of the GetNighthawk.dev site**
screenshot from figma for this section:
![chrome_jYOrVDR5f0](https://user-images.githubusercontent.com/54861487/107571046-5833d300-6c10-11eb-8dad-bfcbe9e301d4.png)

---
**Contributor Resources**
- See the [Contributing to Meshery.

[2021-02-10 20:58] vinayaksh42 opened #40 "[Site] Why getNightHawk (card component)"
**Current State of the GetNighthawk.dev site**
There is a "Why Getnighthawk section already present on the current website

**Desired State of the GetNighthawk.dev site**
screenshot from Figma:
![chrome_OnTKAhdxeI](https://user-images.githubusercontent.com/54861487/107571243-a9dc5d80-6c10-11eb-8951-ae8bc3e4831e.png)
This will require the development of the card component with a transition effect.

[2021-02-10 21:02] vinayaksh42 opened #41 "[Site] FAQs section"
**Current Behavior**

There is no FAQ section on the current website

**Desired Behavior**

screenshot from Figma:
![chrome_K81hDqF9PO](https://user-images.githubusercontent.com/54861487/107571632-2cfdb380-6c11-11eb-922e-94426343bb9f.png)
This section is supposed to be above the bottom newsletter signup component. Kindly refer to the [figma ](https://www.figma.com/file/5ZwEkSJwUPitURD59YHMEN/Layer

[2021-02-10 21:04] vinayaksh42 opened #42 "[Site] Footer improvements"
**Current Behavior**

Currently, the footer lacks alignment and proper placement of contents

**Desired Behavior**

Screenshot from Figma:
![chrome_ydzZIE5D4n](https://user-images.githubusercontent.com/54861487/107571940-98e01c00-6c11-11eb-89e3-438e7ee8060e.png)

---
**Resources**

**Alternatives / Additional Context**

[2021-02-10 21:06] vinayaksh42 opened #43 "[Site] Newsletter signup"
**Current State of the GetNighthawk.dev site**
Newsletter signup is not present on the current website

**Desired State of the GetNighthawk.dev site**
Screenshot from Figma:
![chrome_NUWiy6LkJn](https://user-images.githubusercontent.com/54861487/107572175-e78db600-6c11-11eb-9e4c-60a62725510a.png)
This section is supposed to be right above the footer

---
**Contributor Resources**
- See the [Contri

[2021-02-10 23:42] #36 closed

[2021-02-11 08:33] chinmaym07 commented on #42
Hey Can I work on this .? @vinayaksh42

[2021-02-11 08:40] vinayaksh42 commented on #42
Sure, Go ahead

[2021-02-11 08:41] vinayaksh42 commented on #42
refer to this link https://www.figma.com/file/5ZwEkSJwUPitURD59YHMEN/Layer5-Designs?node-id=2650%3A4236 for better design reference.

[2021-02-11 19:16] leecalcote opened #44 "[Community] Create development mailer for GetNighthawk contributors"
Those participating in GetNighthawk will benefit from a mailing list as a form of asynchronous communication.

[2021-02-11 19:22] leecalcote opened #45 "[Community] GitHub teams: two for contributors and another for maintainers"
The GetNighthawk Project will benefit from use of GitHub teams, so that those teams may be used for assigning reviewers.

1. [getnighthawk-contributors](https://github.com/orgs/layer5io/teams/getnighthawk-contributors) - collection of all GetNighthawk contributors
1. getnighthawk-ci-contributors - collection of backend and CI-focused contributors
1. getnighthawk-site-contributors - collection of f

[2021-02-11 19:39] leecalcote commented on #45
@mum4k @oschaaf does this look good to you?

[2021-02-11 19:44] leecalcote opened #46 "[Docs] Contributing: website contributing instructions needed"
**Current State:**
The CONTRIBUTING.md in this repo needs is missing some information and instructions specific to this project.

**Desired State:**
The CONTRIBUTING.md in this repo needs to be updated information about what framework and plugins that the GetNighthawk website uses. It also needs updated with instructions for how to contribute and how to build the GetNighthawk website.

Resource: S

[2021-02-11 19:52] leecalcote opened #47 "[Project] GitHub Issue templates: need updated to be GetNighthawk-specific"
The GH issue templates - https://github.com/layer5io/getnighthawk/tree/master/.github/ISSUE_TEMPLATE - need to be updated with details and links specific to the GetNighthawk project.

[2021-02-11 19:53] leecalcote commented on #47
@Grumpyyash?

[2021-02-12 03:42] mum4k commented on #45
Looks good to me @leecalcote.

[2021-02-12 04:50] akashprasher commented on #47
can I do this task?

[2021-02-12 07:51] oschaaf commented on #45
+1

[2021-02-12 09:44] Josephchinedu commented on #47
@leecalcote can @akashprasher take this

[2021-02-12 10:30] Grumpyyash commented on #43
Can I try this? @vinayaksh42

[2021-02-12 10:32] Grumpyyash commented on #39
Can I try this? @vinayaksh42

[2021-02-12 12:41] Ruth-ikegah commented on #46
Nice Taking this up!

[2021-02-12 13:54] leecalcote commented on #47
That would be great, yes. 👍

[2021-02-12 13:57] vinayaksh42 commented on #43
sure

[2021-02-12 18:54] vinayaksh42 commented on #39
sure go ahead

[2021-02-12 19:58] #43 closed

[2021-02-13 13:34] akashprasher commented on #47
Thanks, @leecalcote, can you tell me what needs to change and what to add? I'll do it.

[2021-02-13 18:35] vinayaksh42 commented on #42
Hey @chinmaym07 if you are facing any issue regarding the setup of this repo or the actual issue itself, feel free to drop me a message on slack

[2021-02-13 18:41] chinmaym07 commented on #42
No@vinayaksh42  I have fixed the above issue ..will send the pr asap.

[2021-02-13 19:56] #47 closed

[2021-02-14 12:35] leecalcote commented on #46
😀

[2021-02-14 20:11] #42 closed

[2021-02-14 21:38] #32 closed

[2021-02-15 07:07] vinayaksh42 opened #53 "[Site] clean up of index.html"
**Current State of the GetNighthawk.dev site**
Currently, we have a lot of code snippets in the index.html that are not in match with the Figma design mockup

**Desired State of the GetNighthawk.dev site**
Requires a clean up of the index.html with a proper comparison with the design mockup

Figma link for reference: https://www.figma.com/file/5ZwEkSJwUPitURD59YHMEN/Layer5-Designs?node-id=2650%3A4

[2021-02-15 09:50] Grumpyyash commented on #53
Can I try this?

[2021-02-15 11:32] vinayaksh42 commented on #53
@Grumpyyash sure, feel free to message me in case of confusion regarding what to keep and what to remove

[2021-02-19 08:57] chinmaym07 commented on #40
@vinayaksh42  Can I work on this .?
Can you please let me know about the transition effect required on the cards ?

[2021-02-19 08:58] chinmaym07 commented on #35
@vinayaksh42 Can I knock this one too ?

[2021-02-19 09:02] vinayaksh42 commented on #40
The card requires a hover effect of a background shadow. you can make a pr about it and we can discuss the effect.

[2021-02-19 09:03] vinayaksh42 commented on #35
sure @chinmaym07

[2021-02-19 09:05] chinmaym07 commented on #40
As far as I can observe on hover there should be a box-shadow , a bottom yellow coloured border , Yes I'll make a pr, Then I'll ask for improvements that can be made on that. thanks !!

[2021-02-19 13:59] #39 closed

[2021-02-20 12:05] #53 closed

[2021-02-20 17:00] #46 closed

[2021-02-20 17:00] leecalcote commented on #45
Thank you, gents. Teams created.

[2021-02-20 17:00] #45 closed

[2021-02-23 09:10] vinayaksh42 commented on #41
I am working on this section

[2021-02-23 14:17] #40 closed

[2021-02-23 15:57] #41 closed

[2021-02-24 06:08] kumarabd opened #62 "Custom nighthawk actions"
**Description**

Two different actions that need to be created:

Setup Environment action:
The action would do the following tasks:
- Setup dependencies for building the project such as bazel,gcc etc..
- Setup git credentials with tokens for cloning the repository.

Build and publish action:
The action would do the following tasks:
- Clones the specified nighthawk version
- Builds the project for

[2021-02-24 09:54] vinayaksh42 opened #63 "[Site] Hero section missing a component"
**Current State of the GetNighthawk.dev site**
Hero section currently looks like this:-
![chrome_w6xFScbTuO](https://user-images.githubusercontent.com/54861487/108982936-565c1c00-76b4-11eb-8952-1bc8363874a5.png)

**Desired State of the GetNighthawk.dev site**
Hero section needs to look like this:-
![chrome_Nmwum1YxOL](https://user-images.githubusercontent.com/54861487/108982978-6247de00-76b4-11eb-

[2021-02-24 09:56] vinayaksh42 opened #64 "[Site] Reduce line spacing"
**Current State of the GetNighthawk.dev site**
The line spacing differs from the website mockup:-
![chrome_FRm0PIS2D5](https://user-images.githubusercontent.com/54861487/108983167-94594000-76b4-11eb-94bf-cc224471dd8b.png)

**Desired State of the GetNighthawk.dev site**
The line spacing needs to be like this:-
![chrome_gPdTSV9d1J](https://user-images.githubusercontent.com/54861487/108983218-a33ff28

[2021-02-24 09:57] vinayaksh42 commented on #64
@Grumpyyash also move the section 'nighthawk and meshery' text to the left as shown in the mockup

[2021-02-24 10:22] Grumpyyash commented on #63
Sure, I will do it soon

[2021-02-24 12:14] #63 closed

[2021-02-24 14:30] #64 closed

[2021-02-25 13:04] vinayaksh42 opened #67 "[Site] Wrong Line spacing"
**Current State of the GetNighthawk.dev site**
![chrome_uf7ESrb3mj](https://user-images.githubusercontent.com/54861487/109157478-14a4a180-7798-11eb-8a05-ced11598d980.png)

**Desired State of the GetNighthawk.dev site**

---

**Contributor Resources**

- See the [Contributing to getnighthawk.dev Website](https://github.com/layer5io/getnighthawk/blob/master/CONTRIBUTING.md)
- See the Project Site se

[2021-02-25 13:23] #67 closed

[2021-03-04 05:35] #35 closed

[2021-03-04 11:57] Grumpyyash opened #72 "Update the 'Why GetNighthawk' section on the home page"
Currently, the 'Why GetNighthawk' section on the homepage is not according to the Figma design.

![why-getnighthawk-wrong](https://user-images.githubusercontent.com/62200066/109960237-90f63200-7d0e-11eb-80e1-52166bdb60cf.png)

The section should be modified according to the Figma design given  - https://www.figma.com/file/5ZwEkSJwUPitURD59YHMEN/Layer5-Designs?node-id=2650%3A4236

![why-getnighthaw

[2021-03-04 16:03] vinayaksh42 commented on #72
Thanks for opening this issue

[2021-03-08 19:59] #72 closed

[2021-03-09 00:38] vinayaksh42 opened #77 "[Site] Footer Rework"
**Current State of the GetNighthawk.dev site**
Currently, there are a few mistakes in the footer

**Desired State of the GetNighthawk.dev site**
 - Move from “Socials” to “Social”
 - Remove the community Section as most of the things listed under community are covered in other sections
 - Fix any other relevant issue in the footer

---

**Contributor Resources**

- See the [Contributing to getnigh

[2021-03-09 00:40] vinayaksh42 opened #78 "[Site] Actual FAQ questions and answers"
**Current State of the GetNighthawk.dev site**
Duplicate answers in the FAQ section

**Desired State of the GetNighthawk.dev site**
Unique questions and answers requires

---

**Contributor Resources**

- See the [Contributing to getnighthawk.dev Website](https://github.com/layer5io/getnighthawk/blob/master/CONTRIBUTING.md)
- See the Project Site section of [GetNighthawk project doc](https://docs.

[2021-03-09 00:41] vinayaksh42 opened #79 "[Site] Docs section"
**Current State of the GetNighthawk.dev site**
Currently, we have a placeholder basic docs template

**Desired State of the GetNighthawk.dev site**
A menu layout for a simpler Docs section. Responsive Docs not required

---

**Contributor Resources**

- See the [Contributing to getnighthawk.dev Website](https://github.com/layer5io/getnighthawk/blob/master/CONTRIBUTING.md)
- See the Project Site se

[2021-03-09 00:43] vinayaksh42 opened #80 "[Site] About Section-Single page layout"
**Current State of the GetNighthawk.dev site**
Empty about page

**Desired State of the GetNighthawk.dev site**
Requires a single page layout/design for the about section.
@austinogiza

---

**Contributor Resources**

- See the [Contributing to getnighthawk.dev Website](https://github.com/layer5io/getnighthawk/blob/master/CONTRIBUTING.md)
- See the Project Site section of [GetNighthawk project doc

[2021-03-09 00:44] vinayaksh42 opened #81 "[Site] Link fix for all the Buttons"
**Current State of the GetNighthawk.dev site**
A few buttons are not linked to any link

**Desired State of the GetNighthawk.dev site**
Requires linking of all the buttons to proper links
 - Join Us - https://docs.google.com/document/d/18hYemFKK_PC_KbT_TDBUgb0rknOuIhikkRxer4_bv4Q/edit#
 - Need link for Ask Us button
 - Need link for Learn More button

---

**Contributor Resources**

- See the [Con

[2021-03-09 17:07] Grumpyyash commented on #81
I think Ask Questions can be led to community or contact for now if specifics are not yet created? @leecalcote

[2021-03-11 13:27] #77 closed

[2021-03-11 16:42] vinayaksh42 commented on #81
@Grumpyyash we plan to link it with the discussion form that is currently being created

[2021-03-12 07:22] Grumpyyash commented on #81
So, we will wait till then!

[2021-03-12 07:41] Grumpyyash opened #82 "Revamping the footer as per discussion"
**Current State of the GetNighthawk.dev site**
Currently, the footer on the GetNighthawk project is a-bit unusual with uneven spacings and a lot of free space because of social icons being vertical.

![current-footer](https://user-images.githubusercontent.com/62200066/110907956-23f92280-8334-11eb-981f-236c8d4bfd47.png)

**Desired State of the GetNighthawk.dev site**
It would be good if we bring do

[2021-03-15 23:07] #82 closed

[2021-03-21 23:00] leecalcote commented on #80
@vineethvanga18 any progress to report here?

// @Grumpyyash @chinmaym07

[2021-03-21 23:21] vineethvanga18 commented on #80
I was working on docs page layout

[2021-03-21 23:59] leecalcote commented on #80
Oops. I commented the wrong issue. Please do self-assign the other issue, if you haven't already.

[2021-03-24 22:40] leecalcote opened #84 "[Site] Footer - misaligned"
**Description**

<img width="1539" alt="Screen Shot 2021-03-24 at 5 27 26 PM" src="https://user-images.githubusercontent.com/7570704/112392767-f8791f00-8cc7-11eb-87b2-40df3d0f7225.png">

**Environment:**
- Browser: Safari
---

**Contributor Resources**

- See the [Contributing to getnighthawk.dev Website](https://github.com/layer5io/getnighthawk/blob/master/CONTRIBUTING.md)
- See the Project Site

[2021-03-24 22:43] leecalcote commented on #62
Done, @kumarabd?

[2021-03-24 22:43] leecalcote commented on #28
Given @kumarabd's last update here, we're good to close out.

[2021-03-24 22:43] #28 closed

[2021-03-25 12:14] EmperorYP7 commented on #84
Couldn't reproduce this error on Safari. What's the screen-size shown in the screenshot?

[2021-03-26 07:16] kumarabd commented on #62
yes this has been done.

[2021-03-26 07:16] #62 closed

[2021-03-27 15:49] #79 closed

[2021-03-31 10:13] vinayaksh42 commented on #84
This issue has been fixed by this Pull Request - https://github.com/layer5io/getnighthawk/pull/85

[2021-03-31 10:13] #84 closed

[2021-04-05 13:45] vinayaksh42 opened #88 "[Site] Multiple burger menu in Mobile view for Docs Page"
**Current State of the GetNighthawk.dev site**
Currently, there are 2 burger menus when we switch to the mobile view on the Docs page.

**Desired State of the GetNighthawk.dev site**
As discussed in the March 29th 2021 website meeting: Addition of a floating menu for the Docs section. In a similar way as it is on https://reactjs.org/docs/getting-started.html Any other suitable way of doing this ca

[2021-04-05 13:49] vinayaksh42 opened #89 "[Site] Different sub sections in Docs"
**Current State of the GetNighthawk.dev site**
Currently, we have only one section in the Docs, which is `Documentation`

**Desired State of the GetNighthawk.dev site**
We can have different folders for the different sub-sections and then display them accordingly on the Docs page.
A possible way for doing this can be by using an accordion or something similar to it. The logic here would be to iter

[2021-04-05 16:04] Anita-ihuman commented on #80
I will like to take on this issue

[2021-04-13 15:46] leecalcote opened #92 "[Site] Use new logo"
**Current State of the GetNighthawk.dev site**
The site currently has a placeholder logo. The official project logo can now be found here - https://github.com/layer5io/layer5/issues/1780

**Desired State of the GetNighthawk.dev site**
The site should use this new logo.

---

**Contributor Resources**

- See the [Contributing to getnighthawk.dev Website](https://github.com/layer5io/getnighthawk/blo

[2021-04-13 15:46] #80 closed

[2021-04-13 16:53] Anita-ihuman commented on #92
Can i take this issue?

[2021-04-13 16:55] vinayaksh42 commented on #92
@Anita-ihuman Sure, That would be great

[2021-04-14 12:35] #92 closed

[2021-04-14 17:18] adithyaakrishna commented on #88
Hey @vinayaksh42 , Can I work on this?
Along with this, the texts in on the site aren't aligned properly in Mobile view. Will fix that too with this🚀

**Screenshot:**
![image](https://user-images.githubusercontent.com/23498248/114752007-7b474400-9d73-11eb-982d-d77e29597baa.png)

[2021-04-14 17:27] vinayaksh42 commented on #88
@adithyaakrishna sure, I will assign this issue to you

For the Mobile view problem you can create a new issue and work under it.

[2021-04-16 05:04] vinayaksh42 commented on #29
<img width="555" alt="Screen Shot 2021-04-15 at 12 45 10 PM" src="https://user-images.githubusercontent.com/54861487/114974024-3fa99880-9e9f-11eb-8b44-2cdd09b4ec65.png">

Getnighthawk new logo

[2021-04-16 18:09] leecalcote opened #95 "[Site] Project logo revision"
**Current State of the GetNighthawk.dev site**
The GetNighthawk logo has been revised. The logo on the site needs updated.

**Desired State of the GetNighthawk.dev site**
New logo is here - https://layer5.io/brand/getnighthawk-brand-kit.zip

---

**Contributor Resources**

- See the [Contributing to getnighthawk.dev Website](https://github.com/layer5io/getnighthawk/blob/master/CONTRIBUTING.md)
- S

[2021-04-18 10:18] vinayaksh42 commented on #95
@Anita-ihuman would you like to work on this issue?

[2021-04-18 10:20] vinayaksh42 commented on #29
Closing this issue as the new logo has been decided.

[2021-04-18 10:20] #29 closed

[2021-04-18 10:22] vinayaksh42 commented on #81
**Buttons can be linked to**
coming soon -> get started (link to documentation)
Learn more -> https://layer5.io/projects/getnighthawk
Ask Questions -> https://discuss.layer5.io/
@leecalcote any suggestions on this?

[2021-04-18 10:24] vinayaksh42 commented on #78
@leecalcote
We require answers for the following 2 questions:

-  Will nighthawk_client and nighthawk_server still be supported?
-  What projects are related to GetNighthawk?

[2021-04-18 10:52] Anita-ihuman commented on #95
Yea i would

[2021-04-19 19:18] Anita-ihuman commented on #95
was there an update to the logo? because the new logo link provided looks exactly like the previous one.

[2021-04-19 19:29] leecalcote commented on #95
@Anita-ihuman it's subtle, but the new one can be see here - https://layer5.io/projects/getnighthawk.

[2021-04-21 13:18] #95 closed

[2021-05-04 10:10] leecalcote opened #100 "[Site] Favicon needs updated to GetNighthawk logo"
**Current State of the GetNighthawk.dev site**
Currently, the favicon on getnighthawk.dev is that of Meshery's logo.

**Desired State of the GetNighthawk.dev site**
The GetNighthawk logo should be used instead. Find the GetNighthawk logo here - https://layer5.io/brand

---

**Contributor Resources**

- See the [Contributing to getnighthawk.dev Website](https://github.com/layer5io/getnighthawk/blob

[2021-05-05 16:40] leecalcote opened #101 "[Site] Add links to GetNighthawk mailing lists"
**Current Behavior**
Project mailing lists exist, but are not shown on the site.

**Desired Behavior**

These lists should be available for anyone to join:

- [Users](https://groups.google.com/a/getnighthawk.dev/g/users)
- [Developers(https://groups.google.com/a/getnighthawk.dev/g/developers)
- [Maintainers](https://groups.google.com/a/getnighthawk.dev/g/maintainers)

---

**Contributor Resources*

[2021-05-05 16:40] leecalcote commented on #101
@austinogiza will you supply a mockup for where these lists should be placed?

[2021-05-06 08:14] austinogiza commented on #101
@leecalcote here it is  https://www.figma.com/file/5ZwEkSJwUPitURD59YHMEN/Layer5-Designs?node-id=5884%3A12909

[2021-05-06 09:07] Anita-ihuman commented on #100
I will like to take this up.

[2021-05-06 21:38] Anita-ihuman opened #104 "[README] Update README Community Section"
**Description**
The Community section in the README says "Access the Community Drive". There is a new procedure of having this automated based on the individual filling in a [community member form](https://layer5.io/newcomer)

**Expected Behavior**
Update "Access Community Drive" to "To Access Community Drive, fill Community Member Form"

**Screenshots**
![img](https://user-images.githubuserconten

[2021-05-07 02:24] #100 closed

[2021-05-07 02:26] #89 closed

[2021-05-09 19:11] Harshita-Kanal commented on #104
Can I take this up?

[2021-05-09 19:41] Anita-ihuman commented on #104
Yes, you can

[2021-05-10 11:56] #104 closed

[2021-05-13 10:40] kumarabd opened #106 "[CI] Next steps"
**Current Behavior**

Currently, Nighthawk builds are being published to this repository for Nighthawk version `v0.2`. This is being done manually but invoking a GitHub Action trigger, more details about this can be found here - https://docs.google.com/document/d/1lHfMo4iIx2WXFZIspfHyxTsPR1T63_2IV5NUkgxoo0w/edit#heading=h.9c7u4vmlywzu

**Desired Behavior**

Given that we have the pipeline working

[2021-05-13 18:32] mum4k commented on #106
The proposal sounds good to me.

One thing we haven't been doing in the `nighthawk` repository is advancing the release version (tagging new releases). We can use this opportunity to change that and start regularly publishing new versions.

Can you share the specifics on how the action will get triggered from the `nighthawk` repository? Can we attach the trigger to the creation of new tags? That w

[2021-05-13 18:38] akashc777 commented on #101
Hi  @leecalcote,
can work on this?

[2021-05-13 18:41] leecalcote commented on #101
That would be great. Yes, @akashc777

[2021-05-13 18:42] akashc777 commented on #101
please can I get access to the Figma file @leecalcote @austinogiza

[2021-05-13 18:50] austinogiza commented on #101
@akashc777  Just sent it

[2021-05-13 18:58] akashc777 commented on #101
<img width="570" alt="Screenshot 2021-05-14 at 12 27 10 AM" src="https://user-images.githubusercontent.com/32003795/118173405-228aca00-b44b-11eb-9453-1f3e7eb59eb9.png">
This right ?

[2021-05-13 19:10] leecalcote commented on #101
https://layer5.io/brands - has the latest, bird-looking logo, which is the correct one. I think @austinogiza has a more condensed version of this footer mockup, but I'm not sure... @austinogiza?

[2021-05-13 19:28] akashc777 commented on #101
@leecalcote I can add CSS/SCSS files while adding the mailing list section right?

[2021-05-13 19:32] leecalcote commented on #101
Right, yes. ✔️

[2021-05-13 19:37] austinogiza commented on #101
@akashc777  Apologize for that, I have updated the figma file to reflect the logo on the current website, sorry for the confusion

[2021-05-13 19:49] akashc777 commented on #101
@austinogiza I got confused since the alignment on the live site is different than in the Figma prototype (looks better in Figma i think some CSS issue on live site ).

Btw where can I find the designs for mobile view?

sorry for too many questions 😅

[2021-05-13 19:56] austinogiza commented on #101
@akashc777  I will provide the mobile view shortly, do hit me up on slack so I notify you when they are done

[2021-05-14 00:21] akashc777 opened #108 "[Site] Live site needs to match with the design"
**Current State of the GetNighthawk.dev site**
A brief description of what the problem is.

The background colors, alignment, and spacing doesn't match the design

eg.
<img width="1092" alt="Screenshot 2021-05-14 at 5 46 58 AM" src="https://user-images.githubusercontent.com/32003795/118202544-cf7b3c00-b477-11eb-8572-6428e893892e.png">

**Desired State of the GetNighthawk.dev site**
A brief descrip

[2021-05-14 00:22] leecalcote commented on #108
Thanks, @akashc777

[2021-05-14 11:28] akashc777 commented on #108
Hi @leecalcote ,
I will wait for my previous PR to get merged since it will give me an idea if I need to make some improvements in my coding style or I should follow any best practices.  Before making some major changes here 😅.

I will start working on this as soon as my 1st PR gets merged 🕺🏼.

[2021-05-14 12:53] leecalcote commented on #108
// @austinogiza @vinayaksh42

[2021-05-17 08:29] #101 closed

[2021-05-18 12:31] vinayaksh42 opened #110 "[Site] Background color change"
**Current State of the GetNighthawk.dev site**
Currently, the hero section of the website as well as the "what is getnighthawk?" section has a grey background color.
check it out at - https://getnighthawk.dev/
![chrome_Yd4XuBEZPf](https://user-images.githubusercontent.com/54861487/118651052-be795480-b802-11eb-8af5-682eda438347.png)

**Desired State of the GetNighthawk.dev site**
The Figma design i

[2021-05-18 12:35] vinayaksh42 opened #111 "[Site] Stewarded by and Organized by section"
**Current State of the GetNighthawk.dev site**
Currently, there are two different independent sections for Stewarded by and Organized by.
![chrome_YJ3m6LxVeQ](https://user-images.githubusercontent.com/54861487/118651677-70188580-b803-11eb-838b-c095214e3541.png)

**Desired State of the GetNighthawk.dev site**
The Figma design has both of these sections combined into one single section.
![chrome_0yv

[2021-05-18 13:26] Ayush-Khandelwal-007 opened #112 "Typo in the CONTRIBUTING.md"
Just a small typo in the steps to build GetNightHawk site.Step 3 is merged with Step 2.

- See the [CONTRIBUTING.md](https://github.com/layer5io/getnighthawk/blob/master/CONTRIBUTING.md)
![Screenshot 2021-05-18 at 6 45 48 PM](https://user-images.githubusercontent.com/59086855/118659116-a9a0bf00-b80a-11eb-8217-504b770d69b7.png)

[2021-05-18 13:39] NikhilSharma03 commented on #110
Can you assign this issue to me?

[2021-05-18 13:47] vinayaksh42 commented on #112
Hey @Ayush-Khandelwal-007 would you like to take this issue?

[2021-05-18 13:47] vinayaksh42 commented on #110
Sure @NikhilSharma03

[2021-05-18 13:48] Ayush-Khandelwal-007 commented on #112
Sure!

[2021-05-19 07:35] #110 closed

[2021-05-19 07:38] vinayaksh42 commented on #88
hey, @adithyaakrishna are you still working on this issue?

Feel free to contact me on slack in case you are facing any block while implementing the new changes.

[2021-05-19 21:12] #112 closed

[2021-05-19 21:12] leecalcote opened #115 "Test failures in Meshery v0.5.13"
**Description**

Perf tests using Nighthawk fail.

**Logs**

[code]

Test configuration:

<img width="1335" alt="Screen Shot 2021-05-19 at 4 13 14 PM" src="https://user-images.githubusercontent.com/7570704/118885245-22f8ea00-b8bd-11eb-9a48-9e40d6d7e7b2.png">

**Contributor Resources**

- See the [Contributing to getnighthawk.dev Website](https://github.com/layer5io/getnighthawk/blob/master/CONTRIB

[2021-05-20 07:26] vinayaksh42 opened #116 "[Site] Footer re-work and Mobile responsiveness"
**Current State of the GetNighthawk.dev site**
Currently, The footer has a few components (copyright text and social media logos) that are wrongly aligned in the desktop view as well as the mobile view.
![chrome_fuT4082djy](https://user-images.githubusercontent.com/54861487/118937060-c18f5480-b96a-11eb-9d8f-43ddae0bfe06.png)
![chrome_nb33r6vaV6](https://user-images.githubusercontent.com/54861487/1

[2021-05-20 07:28] vinayaksh42 commented on #108
Hey @akashc777 , Your 1st PR has been recently merged. Would you like to work on this issue now?

[2021-05-20 07:37] akashc777 commented on #108
Thanks @vinayaksh42 for the mention. I got held up with interviews. I will make a PR within 1-2 days from now

[2021-05-26 06:56] Anita-ihuman commented on #111
Can I take up this issue?

[2021-05-26 15:22] Ayush-Khandelwal-007 opened #118 "Project set up Step not updated."
The command to add upstream remote locally is still not updated as per this repo.

### **Present State**
Text in red box should be updated I guess.

![Screenshot 2021-05-26 at 8 41 28 PM](https://user-images.githubusercontent.com/59086855/119685893-67f3c200-be63-11eb-9395-2e7f270acb9d.png)

#### [**Link to the document**](https://github.com/layer5io/getnighthawk/blob/master/CONTRIBUTING-gitflow.md

[2021-05-26 15:24] leecalcote commented on #118
Thanks, @Ayush-Khandelwal-007 👍

[2021-05-27 21:47] vinayaksh42 commented on #111
Sure

[2021-05-29 11:19] Anita-ihuman commented on #116
can I take up this issue?

[2021-05-30 16:37] #111 closed

[2021-05-31 12:49] Jashpatel1 opened #123 "[Site] Fix Padding and Margins"
**Current State of the GetNighthawk.dev site**
Currently, the [site](https://getnighthawk.dev/) has unnecessary whitespaces which can be updated.

**Desired State of the GetNighthawk.dev site**
The [Figma Design](https://www.figma.com/file/5ZwEkSJwUPitURD59YHMEN/Layer5-Designs?node-id=6189%3A0) can be helpful to fix those whitespaces by changing margins and paddings throughout the site.

---

**Co

[2021-05-31 12:55] DARK-art108 commented on #123
Can I work upon this? Can you guide a more little bit!
How to open in figma! And fix those things :)

[2021-05-31 13:00] Jashpatel1 commented on #123
Yaa sure, please go ahead.

[2021-05-31 13:42] DARK-art108 commented on #123
@Jashpatel1 When I open the Figma design link from above the link is not opening! Showing file not found!
https://www.figma.com/file/5ZwEkSJwUPitURD59YHMEN/Layer5-Designs?node-id=6189%3A0 This one!

[2021-05-31 19:00] JubayerJoy opened #124 "[Site] Change color and style of menu items"
**Current State of the GetNighthawk.dev site**
The current implementation of the following sections should be corrected to follow the design specification:
1. the FAQs section of [getnighthawk.dev](https://getnighthawk.dev/)

![FAQs](https://user-images.githubusercontent.com/31549564/120231551-74b55300-c273-11eb-95b3-ab262bdfb562.png)

2. The sidebar of [Getnighthawk Docs](https://getnighthawk.dev

[2021-05-31 20:49] #118 closed

[2021-05-31 20:53] vinayaksh42 commented on #123
@DARK-art108 I think Figma initially requires an invite via email. It would be really great if you can join the slack workspace of Layer5 http://slack.layer5.io/
Message me your email and I will send you an invite.

[2021-06-01 12:00] NikhilSharma03 commented on #124
Can i work on this @JubayerJoy

[2021-06-01 13:24] soham4abc commented on #124
Figma file not visible

[2021-06-01 13:39] soham4abc commented on #124
Need permission for the Figma files

[2021-06-01 13:41] soham4abc commented on #81
I am working on this issue if possible pls assign.

[2021-06-01 13:44] NikhilSharma03 commented on #124
![Screenshot from 2021-06-01 19-11-57](https://user-images.githubusercontent.com/58226527/120333537-6ca9f180-c30d-11eb-86ed-ed11c61338a6.png)
@JubayerJoy Are the colors are correct?

[2021-06-01 14:28] JubayerJoy commented on #124
Hi @NikhilSharma03, it looks correct to me but will be sure after you open a PR.
Thank you 🎈

[2021-06-01 14:35] NikhilSharma03 commented on #124
Thank you @JubayerJoy for assigning the issue. Yes, Definetly 👍

[2021-06-01 14:37] JubayerJoy commented on #124
@soham4abc, Figma has changed its policy for teams for which the permission is limited.
If you need the design files, kindly reach out on [slack](http://slack.layer5.io/).

Thank you!

[2021-06-01 14:38] soham4abc commented on #124
I am on slack!! I requested for permission in the general chat!

[2021-06-01 17:05] JubayerJoy commented on #108
@akashc777 will not be with us [for some time](https://github.com/layer5io/getnighthawk/pull/117#issuecomment-851013194).
Anyone interested can take the issue.

[2021-06-02 05:55] NikhilSharma03 commented on #108
@JubayerJoy Can I work on this??

[2021-06-02 12:17] JubayerJoy commented on #108
@NikhilSharma03 Sure!
Please check the [previous PR](https://github.com/layer5io/getnighthawk/pull/117) of @akashc777 for reusing some of the work done.

[2021-06-02 12:40] #81 closed

[2021-06-03 21:40] #124 closed

[2021-06-07 14:11] DARK-art108 commented on #123
Yes sure! @sayantan1413

[2021-06-07 14:13] sayantan1413 commented on #123
Are you there in the slack group then we can discuss a little?

[2021-06-07 14:15] DARK-art108 commented on #123
Yes I am their in slack group! Ping me anytime :)

[2021-06-09 11:36] sayantan1413 commented on #123
Hey @Jashpatel1 and @DARK-art108 I fixed the unnecessary whitespaces. Can you give me any suggestions about what more to change.

https://user-images.githubusercontent.com/64970095/121347473-dd23c480-c944-11eb-92a3-6e4755f8ddf0.mp4

[2021-06-09 12:07] Jashpatel1 commented on #123
Looks good @sayantan1413 . You can go ahead and send a PR on this. Will let you know in the review if any changes are required.

[2021-06-09 13:29] DARK-art108 commented on #123
Awesome @sayantan1413 It Looks Good!

[2021-06-09 13:44] #123 closed

[2021-06-09 13:54] Jashpatel1 commented on #108
Any progress here @JubayerJoy @NikhilSharma03

[2021-06-09 13:56] Jashpatel1 commented on #78
@leecalcote @Anita-ihuman some help required here.

[2021-06-09 14:21] Anita-ihuman commented on #78
Can I take this up?

[2021-06-09 14:35] NikhilSharma03 commented on #108
@Jashpatel1 I think this issue was recreated and is in progress by Anita-ihuman. Let me know if I have to work on this issue.
Thank you.

[2021-06-09 15:54] #116 closed

[2021-06-09 15:59] Jashpatel1 commented on #108
Closing with #129

[2021-06-09 15:59] #108 closed

[2021-06-10 03:47] sudo-NithishKarthik commented on #88
Hey, I would like to take up this issue 😃

[2021-06-10 03:48] Jashpatel1 commented on #88
Sure, please go ahead

[2021-06-11 05:32] #26 closed

[2021-06-12 13:20] NikhilSharma03 opened #135 "[Site] Update footer style"
**Current State of the GetNighthawk.dev site**
The current footer ul style can be improved.

- Current style

![Screenshot from 2021-06-12 18-38-56](https://user-images.githubusercontent.com/58226527/121777183-596d1080-cbae-11eb-9c20-3516e1fc799d.png)

**Desired State of the GetNighthawk.dev site**
We can update the footer style.

- Changes we can make

## Elements aligned in the center

![Screens

[2021-06-12 13:22] NikhilSharma03 commented on #135
@leecalcote Can you please review?

[2021-06-12 13:40] vinayaksh42 commented on #135
@NikhilSharma03 the center-aligned style is looking much better than what we have right now. @leecalcote what's your opinion on this?

[2021-06-12 13:41] NikhilSharma03 commented on #135
@vinayaksh42 Should I start working on it?

[2021-06-12 13:43] vinayaksh42 commented on #135
let's wait for @leecalcote's opinion, Also make sure that the format of the footer remains unaffected in desktop view

[2021-06-12 13:46] NikhilSharma03 commented on #135
Yeah Sure

[2021-06-13 13:37] NikhilSharma03 commented on #135
@vinayaksh42 I have made a PR. Let me know if the changes got approved. I will link this issue in the PR. Thank you.

[2021-06-14 12:51] leecalcote commented on #78
@oschaaf I wonder if you have suggestions here on specific FAQs for Nighthawk.

[2021-06-15 16:45] leecalcote opened #137 "[Site] Improve legibility of Answers test in FAQs"
**Current State of the GetNighthawk.dev site**
The FAQs answers are a bit light and difficult to read on the white background.

**Desired State of the GetNighthawk.dev site**
Ideally, this text is slightly larger and slightly darker.

<img width="767" alt="Screen Shot 2021-06-15 at 11 43 35 AM" src="https://user-images.githubusercontent.com/7570704/122092009-1047d700-cdcf-11eb-980b-203b60768bab.pn

[2021-06-15 18:50] NikhilSharma03 commented on #137
@leecalcote Can i work on this issue?

[2021-06-15 18:55] leecalcote commented on #137
That would be great, @NikhilSharma03 👍

[2021-06-15 21:58] Anita-ihuman opened #138 "Update the Logo on Home page."
**Current State of the GetNighthawk.dev site**

The current logo on the Getnighthawk home page is the same as the navbar logo.

![Screenshot 2021-06-15 at 21 19 19](https://user-images.githubusercontent.com/62384659/122118072-8aa04780-ce1f-11eb-8fac-e1917c80664e.png)

**Desired State of the GetNighthawk.dev site**

the logo on the Getnigthawk home page should be updated to look like this.

![Scree

[2021-06-15 22:14] leecalcote commented on #138
Excellent!

[2021-06-16 07:38] NikhilSharma03 commented on #138
@Anita-ihuman Can I work on this issue? If that's okay let me know where can I find the new logo image.

[2021-06-16 07:53] Anita-ihuman opened #140 "Increase the font size of the footer list items"
**Current Behavior**

The current font size for these texts in the Footer is too small
![Screenshot 2021-06-16 at 08 49 10](https://user-images.githubusercontent.com/62384659/122179803-c0751880-ce7f-11eb-9edb-5fde2805dc34.png)

**Desired Behavior**

Increase the font size a little bit, to make these listed elements more prominent.

---

**Resources**

**Contributor Resources**

- See the [Contribu

[2021-06-16 10:07] sudo-NithishKarthik commented on #88
I am sorry @Jashpatel1 , i am busy with some work . Is it fine if i take some time ? its fine with me if anyone else is interested in taking up this issue ✌🏽

[2021-06-16 10:44] #137 closed

[2021-06-16 12:14] #135 closed

[2021-06-16 16:58] #140 closed

[2021-06-17 21:15] Anita-ihuman opened #142 "Update the Site home page"
**Current State of the GetNighthawk.dev site**
The changes to the  "what is Getnighthawk"component were reverted.

![Screenshot 2021-06-17 at 22 07 34](https://user-images.githubusercontent.com/62384659/122472771-ebaf5300-cfb8-11eb-8b5c-3e4390a26cb1.png)

**Desired State of the GetNighthawk.dev site**
Adjust the 'what is Nighthawk" component to cross the diagonal line. [Figma link](https://www.fig

[2021-06-17 21:16] Anita-ihuman commented on #142
@sayantan1413  would you like to t ake this up?

[2021-06-18 04:53] sayantan1413 commented on #142
@Anita-ihuman Yes I would like to take up this issue

[2021-06-18 11:15] #138 closed

[2021-06-21 18:31] #142 closed

[2021-06-22 02:56] leecalcote commented on #115
Another failure in v0.5.25

<img width="712" alt="Screen Shot 2021-06-21 at 9 43 47 PM" src="https://user-images.githubusercontent.com/7570704/122855851-7656c180-d2db-11eb-95a0-3febd12c29a3.png">

[code]

[2021-06-22 21:33] Anita-ihuman commented on #78
@vinayaksh42 I can't seem to find an answer that suits this question.
Could use a helping hand.

[2021-06-22 21:46] vinayaksh42 commented on #78
@leecalcote, can you assist us in getting the actual FAQ content so that the dummy text can be replaced.

[2021-06-23 01:56] leecalcote commented on #78
+ @layer5io/getnighthawk-maintainers

[2021-06-25 16:19] amino19 opened #148 "[README] Need to add `Community Forum`"
**Description**

<a href="https://github.com/layer5io/getnighthawk/blob/master/README.md">README.md</a> is the first file one should read when starting a new project. Our community launched `Discussion forum` for help seekers; needs to publish it officially on README.md for convenience.

### Screenshots

**Current behaviour:**
![image](https://user-images.githubusercontent.com/75872316/123441080-1

[2021-06-25 21:04] sayantan1413 commented on #148
Link to the community Forum `https://discuss.layer5.io/`.

[2021-06-26 05:22] amino19 commented on #148
@sayantan1413 : Thanks for label, can you give a small shot. 😉

[2021-06-26 07:15] sayantan1413 commented on #148
@amino19 I can give it a shot but would you mind if I leave this issue for a new contributor then they would feel good solving this issue in their first shot. :)
(Though I am also a newbie but I have contributed some in this organization)

[2021-06-28 08:30] Harshit-1999 commented on #148
I would like take this task.

[2021-07-01 23:24] #148 closed

[2021-07-01 23:25] leecalcote commented on #115
fixed?

[2021-07-07 19:58] kaushambisharma commented on #88
can i take up this issue?

[2021-07-07 20:06] adithyaakrishna commented on #88
Yes sure @kaushambisharma 💯

[2021-07-07 20:06] leecalcote commented on #88
@kaushambisharma's on the job! 😄

[2021-07-16 15:52] vinayaksh42 commented on #88
Hi , @kaushambisharma are you still working on this issue?
Feel free to reach out on Slack in case you are facing any blockers

[2021-07-16 17:50] kaushambisharma commented on #88
@vinayaksh42 yes i am, will certainly do :)

[2021-07-23 20:42] leecalcote commented on #115
HTTPS support is incomplete

[2021-07-24 13:05] NikhilSharma03 opened #153 "[Site] Responsiveness Issue in Purpose section"
**Description**

There is some responsiveness issue in the 'purpose of nighthawk' section.
- Fix the conflicting texts
- Add some padding around the para

**Expected Behavior**
- Fix the above responsiveness issue so it looks good for smaller devices.

**Screenshots**
![Screenshot from 2021-07-24 18-30-44](https://user-images.githubusercontent.com/58226527/126869276-b75006b2-54d9-4a38-81ee-c6ec2bb

[2021-07-31 01:02] #153 closed

[2021-08-06 06:20] vinayaksh42 opened #156 "[Site] Dead link - Docs/Section1/overview"
**Current State of the GetNighthawk.dev site**
request release timings broken link on Docs/Section1/overview
(https://github.com/layer5io/getnighthawk/blob/master/docs/collections/_docs/really-using-getnighthawk.md)

**Desired State of the GetNighthawk.dev site**
Remove the broken link (anchor tag)

---

**Contributor Resources**

- See the [Contributing to getnighthawk.dev Website](https://github

[2021-08-06 06:20] vinayaksh42 commented on #156
@leecalcote I think we should move towards adding the docs as well as updating the FAQ and other content of the website

[2021-08-09 20:18] AnshumanDhiman commented on #156
Hey @vinayaksh42 can I work on this issue.

[2021-08-09 20:18] vinayaksh42 commented on #156
Sure @AnshumanDhiman

[2021-08-10 06:56] warunicorn19 opened #158 "[Site] Cropped off images"
**Description**

The images used on https://getnighthawk.dev/ are cropped off.

**Expected Behavior**

These images seemed to be cut off at source so we're in need of better images to replace these.

**Screenshots**

<img width="875" alt="Screenshot 2021-08-10 at 12 20 58 PM" src="https://user-images.githubusercontent.com/53532328/128821986-15dc6520-d134-4925-98f0-acb8985676da.png">

<img width="7

[2021-08-11 08:43] AnshumanDhiman commented on #158
Hi @warunicorn19 can I work on this issue

[2021-08-11 19:35] #156 closed

[2021-08-12 08:59] AnshumanDhiman commented on #158
Can anyone provide the new images so that the old one's can be replaced by them as in the issue mentioned.

[2021-08-12 09:57] AnshumanDhiman opened #162 "[Site] Same Data written - GetNighthawk/About"
**Current State of the GetNighthawk.dev site**
The current data on the page  explaining "What is nighthawk" and "Why get nighthawk" are same.

**Desired State of the GetNighthawk.dev site**
Data should be unique for both paragraph so that the explaining and requirement of nighthawk must be  clear.

**Screenshot**

![2](https://user-images.githubusercontent.com/67755381/129177912-cd50509c-37a1-45db

[2021-08-12 11:25] warunicorn19 commented on #158
@vinayaksh42 could you please provide some images that can be used, I'm not sure what images are supposed to be used.

[2021-08-14 19:49] DelusionalOptimist opened #165 "[Performance] distributed deployments of NightHawk to enable distributed performance tests"
**Current Behavior**

Right now performance tests using NightHawk are limited to single instance load generation. This limits the amount of traffic that can be generated to the output of the single machine that the benchmark tool runs on in or out of a cluster.

**Desired Behavior**

Support distributed deployments of NightHawk to enable users to run distributed performance tests to better mimic r

[2021-08-19 18:51] vinayaksh42 opened #166 "[Site] Broken links"
**Current State of the GetNighthawk.dev site**
Currently, the Run GetNighthawk link in the footer is not linked to anywhere
Docs link in footer opens in new tab although the page belongs within the website.

**Desired State of the GetNighthawk.dev site**

Run getnighthawk should be linked to Docs section 1 and the docs link should open in the same tab
---

**Contributor Resources**

- See the [Con

[2021-08-19 18:58] AnshumanDhiman commented on #166
can I work on this issue

[2021-08-19 19:42] #166 closed

[2021-08-19 19:47] vinayaksh42 opened #168 "[Site] Mobile responsiveness for Home page"
**Current State of the GetNighthawk.dev site**
![chrome_Ww5xyovfub](https://user-images.githubusercontent.com/54861487/130127413-a3f9e4e9-3bf7-447b-88b0-d75c49a05e26.png)

**Desired State of the GetNighthawk.dev site**
![chrome_1cgVpCqofN](https://user-images.githubusercontent.com/54861487/130127423-986e32c5-c592-4bfe-b288-ffa644ad200b.png)

The text needs to be center-aligned for both the section

[2021-08-19 19:51] AnshumanDhiman commented on #168
Can I work on this @vinayaksh42

[2021-08-23 12:06] #168 closed

[2021-08-24 14:55] AnshumanDhiman opened #170 "[Site] Text align and paragraph size mismatch"
**Description**

The current landing home page of the getnighthawk have the paragraph font different in the starting and as the one mentioned below and the heading written as "Easing Management of Nighthawk Lifecycle " is Left aligned in the Mobile View.

**Expected Behavior**

The size of fonts of the paragraph tag must be same and the heading must be center aligned in Mobile View.

**Screenshots

[2021-08-24 14:58] warunicorn19 commented on #170
@AnshumanDhiman will you be taking this on?

[2021-08-24 15:26] AnshumanDhiman commented on #170
Yes I will take this on

[2021-08-24 15:27] warunicorn19 commented on #170
😎 awesome!

[2021-08-24 17:43] leecalcote commented on #170
Good stuff, @AnshumanDhiman 🙂

[2021-08-24 19:21] AnshumanDhiman commented on #170
thank you @leecalcote 😊

[2021-08-29 09:40] AnshumanDhiman opened #173 "Padding and Text align in getnighthawk mobile view"
**Description**

For the Mobile View,
1. The paragraph in the "Why Getnighthawk" section is end to end on the sides.
2. The paragraph in the "Easing Management of the Nighthawk Lifecyle" is left aligned.

**Expected Behavior**

1. Add some padding in the "Why Getnighthawk" paragraph section.
2. Change the text align to center in the "Easing Management of the Nighthawk Lifecycle" paragraph section

[2021-08-29 20:33] vinayaksh42 commented on #173
Nice catch @AnshumanDhiman, make sure that the desktop version remains the same

[2021-08-29 20:41] AnshumanDhiman commented on #173
Yes @vinayaksh42 will keep in mind :)

[2021-08-30 13:33] #173 closed

[2021-09-02 14:23] vinayaksh42 commented on #88
Hey @kaushambisharma are you still working on this issue?

[2021-09-02 19:47] DelusionalOptimist commented on #78
**"What value is GetNighthawk as an individual project adding to Nighthawk?"**
* Aimed at alligning and making Nighthawk compatible with the SMP spec.
* A Go native wrapper for using Nighthawk.
* Enables `mesheryctl` to do multi version lifecycle management of Nighthawk.
* A vehicle for creating and publishing Nighthawk extensions.
* Publishes Nighthawk artifacts compatible with multiple OS and CP

[2021-09-03 11:08] vinayaksh42 commented on #78
@Anita-ihuman do you want to take this issue, we now have the FAQ content

[2021-09-03 11:13] vinayaksh42 opened #175 "[Site] Docs Section"
**Current State of the GetNighthawk.dev site**
Currently, we have 3 placeholder sections

**Desired State of the GetNighthawk.dev site**
The docs section can be further expanded to add the following sections:

1. Getting started/overview/installation
2. concepts/functionality/architecture
3. Community/about/mailing list/ meetings (same as smp - https://docs.google.com/document/d/1wiPiEoaaQgJ3E1lQF

[2021-09-03 11:16] AnshumanDhiman commented on #175
can I work on this @vinayaksh42

[2021-09-03 11:17] AnshumanDhiman commented on #88
if anyone's not working on this issue can I work on this ? @vinayaksh42 @leecalcote

[2021-09-09 22:10] amino19 opened #176 "[CI] add label commenter workflow"
**Description:**

This repository should have the label commenter workflow.
It would run whenever an issue/pr is labelled with one of the targeted labels and comment down any relevant information.

**Contributor Reference:**

The workflow would use: https://github.com/peaceiris/actions-label-commenter

A sample workflow is defined in: https://github.com/meshery/meshery/blob/master/.github/workflow

[2021-09-13 08:09] khanjasir90 commented on #78
@leecalcote @Jashpatel1 can I work on this?

[2021-09-13 08:22] warunicorn19 commented on #78
@khanjasir90 go ahead, I think @Anita-ihuman is a bit busy now.

[2021-09-13 08:39] khanjasir90 commented on #78
@warunicorn19  great! can i get the answers to FAQ question.

[2021-09-13 08:42] warunicorn19 commented on #78
@vinayaksh42 ^^^

[2021-09-13 08:43] warunicorn19 commented on #78
This is one of them I think: https://github.com/layer5io/getnighthawk/issues/78#issuecomment-912003186

[2021-09-15 19:27] navendu-pottekkat opened #177 "Add Adaptive Load Control Deck to GetNighthawk website"
**Current State of the GetNighthawk.dev site**

Anirban did an overview of adaptive load controllers in Nighthawk on September 10th's community meeting.

**Desired State of the GetNighthawk.dev site**

Add the slides to the GetNighthawk website.

Link to slides: https://docs.google.com/presentation/d/1uQBrocLLqudO-xKSVL38d8w9BXlNOLeB/edit?rtpof=true

---

**Contributor Resources**

- See the [Cont

[2021-09-19 20:42] #162 closed

[2021-09-21 12:38] ruhi09 commented on #176
@amino19 I would Like to work on this issue, may I?

[2021-09-21 12:38] warunicorn19 commented on #176
Go ahead @ruhi09.

[2021-09-21 12:40] warunicorn19 commented on #176
And if you have any issues, please join our [slack workspace](https://join.slack.com/t/layer5io/shared_invite/zt-rgbyt4kj-6PUUyqY9SfQGRSt_oZV9yQ) if you haven't already and feel free to ask any questions that you might have.

[2021-09-21 12:46] ruhi09 commented on #176
Thank you @warunicorn19, I've already joined the slack channel :)

[2021-09-21 12:48] warunicorn19 commented on #176
Oh, that's great😅.

[2021-09-23 11:37] navendu-pottekkat opened #183 "Use fixed footer"
**Desired State of the GetNighthawk.dev site**

Use fixed footer across the website so that it stays at the bottom even when the content in the page is very less.

![Screenshot 2021-09-23 at 5 05 16 PM](https://user-images.githubusercontent.com/49474499/134500246-36e69ec8-84f3-4d1f-9bd6-2b5614b0dcf6.png)

There is whitespace below the footer if it is not obvious from the screenshot.

---

**Contri

[2021-09-23 11:42] warunicorn19 commented on #183
@navendu-pottekkat I think you mean a fixed footer right? A sticky one would travel with the page.

[2021-09-23 11:46] navendu-pottekkat commented on #183
Yes, that is what I meant. Bad with UI jargons.

[2021-09-23 13:20] toth2000 commented on #183
@navendu-pottekkat can you please mention the steps to reproduce the error? The footer seems fine on my device (Chrome).

[2021-09-23 13:30] ruhi09 commented on #183
Yes, this works fine for me too, even if the content is less... is the error reproduced in a specific page?? // @navendu-pottekkat

[2021-09-23 13:32] warunicorn19 commented on #183
https://getnighthawk.dev/docs/section2

i think this would help. @ruhi09 @toth2000

[2021-09-23 13:42] toth2000 commented on #183
Okay, I will look into it.

[2021-09-23 13:48] warunicorn19 commented on #183
Huh, that's weird 🤔🤔. This is in chrome though.

[2021-09-23 13:57] toth2000 commented on #183
@ruhi09 try checking different resolutions using the chrome developer tools.

[2021-09-23 14:20] ruhi09 commented on #183
@toth2000 yes, it is visible only in some resolutions, I get it!

[2021-09-23 16:12] toth2000 commented on #183
I looked into the issue and it is caused by the empty content. It will get fixed automatically when we add content to the empty sections. For now, it can be fixed by setting the height of the div container containing Test text to 100vh. What do you people think?

[2021-09-23 16:23] navendu-pottekkat commented on #183
If empty page is the issue, then it should not be an issue. Because I opened a PR that adds content.

[2021-09-23 17:39] toth2000 commented on #183
@navendu-pottekkat I checked your PR. If the content height is not enough, the issue persists. I have created a PR to fix this.
![image](https://user-images.githubusercontent.com/65480420/134554789-559fbb5b-9f6c-48ea-8c6f-49a0e400bfbe.png)

[2021-09-25 13:34] DelusionalOptimist opened #185 "[build] publish stripped nighthawk binaries"
It is a bit of a guess, but over at envoyproxy/nighthawk there's  https://github.com/envoyproxy/nighthawk/blob/main/.bazelrc and https://github.com/envoyproxy/nighthawk/blob/main/.bazelversion.
Is there an equivalent of those being used for building the binaries that get published here?

_Originally posted by @oschaaf in https://github.com/layer5io/getnighthawk/issues/179#issuecomment-922773271_

[2021-09-30 18:45] AnshumanDhiman opened #186 "Add Disabled Javascript in Getnighthawk"
**Description**

Currently there's no notice for getnighthawk if javascript is disabled. When it is disabled it creating issues for website to run properly

**Expected Behavior**

A proper warning or notification type must appear at top showing that javascript is disabled

**Screenshots**

**Environment:**

- OS: [e.g. Ubuntu]
- Browser: [e.g. Chrome, Safari]
- Version: [e.g. 22]
- Device: [e.g. l

[2021-09-30 18:45] AnshumanDhiman commented on #186
Can I work on this ?

[2021-09-30 19:58] AnshumanDhiman opened #188 "Latency scale graph cutting in mobile view"
**Description**

In the https://getnighthawk.dev/about the mobile view is having image's sides cropped off.

**Expected Behavior**

Some amount of padding must be given.

**Screenshots**

![Screenshot 2021-10-01 012529](https://user-images.githubusercontent.com/67755381/135522119-f97dfab9-26ea-4789-a0b8-a09271259c5e.jpg)

**Environment:**

- OS: [e.g. Ubuntu]
- Browser: [e.g. Chrome, Safari]
- Ver

[2021-09-30 19:58] AnshumanDhiman commented on #188
can I work on this ?

[2021-09-30 20:00] warunicorn19 commented on #188
Sure @AnshumanDhiman

[2021-10-01 04:10] PulkitSinghDev opened #189 "Navbar not responsive in any device view"
**Description**

The website's navbar is not responsive and doesn't have a good UX, making the navbar less user responsive

**Expected Behavior**

- Hover Effects
- Well-aligned text
- Having it responsive on all device view

**Screenshots**

![image](https://user-images.githubusercontent.com/71369943/135563496-0c8504b4-a039-4295-bbd2-28523ac075ed.png)
![image](https://user-images.githubuserconten

[2021-10-01 06:02] toth2000 commented on #189
Looking into it.

[2021-10-01 06:03] warunicorn19 commented on #189
@toth2000 i think @PulkitSinghDev is already looking into this?

[2021-10-01 12:45] PulkitSinghDev commented on #189
Yes, @warunicorn19, I am looking into this :)

[2021-10-01 12:51] PulkitSinghDev commented on #189
you can assign it to me :)

[2021-10-01 12:54] PulkitSinghDev commented on #189
and if possible, would like to include it in my Hacktoberfest contributions 😄

[2021-10-01 13:13] warunicorn19 commented on #189
Yeah for sure it will, if you could just put a comment down when you put in the PR for this.

[2021-10-01 13:28] PulkitSinghDev commented on #189
sure!

[2021-10-01 16:33] AnshumanDhiman commented on #186
Hi can anyone review and merge this PR ??
ps :- if satisfied after merging please add hacktober-accepted tag😅

[2021-10-01 16:42] #186 closed

[2021-10-01 16:50] #183 closed

[2021-10-01 16:52] leecalcote commented on #115
@DelusionalOptimist is the HTTPS support still incomplete or should that be raised in another issue?

[2021-10-02 07:49] Manish-210 opened #190 "nighthawk-meshery image is cropped"
**Description**

In the about and home section of https://getnighthawk.dev/ the image for nighthawk-meshery (https://getnighthawk.dev/assets/images/nighthawk-meshery.png) is cropped off, It should have been replaced.

**Expected Behavior**

https://getnighthawk.dev/assets/images/smp-standard.png This image has to placed there.

**Environment:**

- OS: Ubuntu
- Browser: Mozilla Firefox
- Version: 9

[2021-10-02 07:50] Manish-210 commented on #190
Can I work on this?

[2021-10-02 08:08] warunicorn19 commented on #190
Sure @Manish-210

[2021-10-02 17:26] anubhav201241 commented on #188
Hey, @warunicorn19
A similar issue problem with the website is that the menu icon in mobile view is not aligned properly

![image](https://user-images.githubusercontent.com/72249059/135726439-232406af-43fd-4a9d-be2d-57b0a456478b.png)

![image](https://user-images.githubusercontent.com/72249059/135726508-53dd3e46-5d20-4a9b-80bb-e736531e2878.png)

So can I work on this issue?

[2021-10-02 17:29] warunicorn19 commented on #188
@anubhav201241 I think this is being worked on in #189

[2021-10-02 17:34] anubhav201241 commented on #188
oh ok, thank you no problem!!

[2021-10-04 06:19] #188 closed

[2021-10-04 17:38] AnshumanDhiman opened #195 "Image issues in the getnighthawk homepage"
**Description**

The image is not aligned properly with the supporting heading.

![err2](https://user-images.githubusercontent.com/67755381/135897513-d841f166-4d84-4d1f-b987-f05cbaa73707.jpg)

**Expected Behavior**

 Align the image and the supporting heading to the same level.

**Environment:**

- OS: [e.g. Ubuntu]
- Browser: [e.g. Chrome, Safari]
- Version: [e.g. 22]
- Device: [e.g. laptop, iPho

[2021-10-04 17:46] warunicorn19 commented on #195
@AnshumanDhiman the first part of the issue already has an open issue.

[2021-10-04 17:50] AnshumanDhiman commented on #195
@warunicorn19 well I thought size of the image should be increased for the time being. But I think its ok if we're changing the whole image. That's a lot better. I updated the issue.

[2021-10-07 08:32] Zain-Muiz opened #197 "[Docs] Include Bazel Installation Instruction"
**Current State:**

[Building Nighthawk](https://getnighthawk.dev/docs/building-nighthawk) Doc section does not have Bazel Installation Instruction

**Desired State:**

Include an installation documentation for Bazel

---

**Contributor Resources**

- See the [Contributing to getnighthawk.dev Website](https://github.com/layer5io/getnighthawk/blob/master/CONTRIBUTING.md)
- See the Project Site sect

[2021-10-12 06:47] #197 closed, assigned to Zain-Muiz

[2021-10-28 17:30] pottekkat opened #199 "Add slides from "Adaptive load controllers in Nighthawk" to the website"
**Desired State of the GetNighthawk.dev site**

Add slides from the "adaptive load controllers in Nighthawk" session from the [TAG Network meeting](https://docs.google.com/document/d/18hYemFKK_PC_KbT_TDBUgb0rknOuIhikkRxer4_bv4Q/edit#) to the website.

---

**Contributor Resources**

- See the [Contributing to getnighthawk.dev Website](https://github.com/layer5io/getnighthawk/blob/master/CONTRIBUTI

[2021-10-28 19:05] #199 closed, assigned to nobody

[2021-11-01 01:28] leecalcote opened #200 "[Website] Refresh Nighthawk logos; Remove "GET" from all pages"
**Current Behavior**
The current set of Nighthawk logos say "GETNIGHTHAWK". These are being replaced with a set that says "NIGHTHAWK".

**Desired Behavior**
1. Remove "GET" from any of the descriptions of this project.
1. Replace old logos with new logos (attached)

The website will still be getnighthawk.dev, but the logos have all dropped the "Get".

**Kit**
- [nighthawk-brand-kit.zip](https://gi

[2021-11-01 04:25] toth2000 commented on #200
Looking into this.

[2021-11-01 07:25] #190 closed

[2021-11-01 07:26] warunicorn19 commented on #189
@PulkitSinghDev are there any updates on this?

[2021-11-01 07:27] warunicorn19 commented on #175
@AnshumanDhiman would you still like to work on this?

[2021-11-01 07:28] #170 closed

[2021-11-01 08:13] shubham-tyagi commented on #88
should I work on this @warunicorn19, or any newcomer should ?

[2021-11-01 08:16] vedant-kakde commented on #88
@shubham-tyagi  You can work on this issue 🚀

[2021-11-01 09:04] PulkitSinghDev commented on #189
hey @warunicorn19 , I am sorry but not getting much time for it, maybe you can assign it to someone else

[2021-11-01 09:35] leecalcote commented on #189
@PulkitSinghDev thanks for letting us know.

[2021-11-02 18:19] AnshumanDhiman commented on #175
Yes @warunicorn19 but I am not having the data which needs to be added into the website, like in the document form....

[2021-11-18 20:04] kayceeDev opened #206 "[Site] Unequal split of image and adjoining description on main page"
**Description**

The meshery nighthawk performance chart image is bigger than 50% of its container.

**Expected Behavior**

It should be adjusted to be 50% of its container.

**Screenshots**
<img width="2992" alt="Screen Shot 2021-11-18 at 1 42 41 PM" src="https://user-images.githubusercontent.com/42142223/142488079-76d4e035-030d-4aec-be12-7d7502bf0291.png">

**Contributor Resources**

- See the [

[2021-11-22 09:23] warunicorn19 opened #212 "Unresponsive image"
**Description**
The image next to Layer 7 Performance is unresponsive.

**Expected Behavior**

It should be responsive on all screen sizes

**Screenshots**

https://user-images.githubusercontent.com/53532328/142835539-4e8bc286-c075-4f6b-b904-e001b14e37ba.mov

---

[Optional] **To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

[2021-11-22 14:37] leecalcote commented on #212
Here is an SVG version of the image that can be used to replace the PNG.
[meshery-nighthawk-deployment.svg.zip](https://github.com/layer5io/getnighthawk/files/7581944/meshery-nighthawk-deployment.svg.zip)

[2021-11-22 14:47] The-Loony-Coder commented on #212
I would like to work on this issue.

[2021-11-23 01:38] leecalcote commented on #212
Excellent 🙂

[2021-11-29 16:57] leecalcote opened #216 "Vertical whitespace needed: top and bottom section margins should be symmetric"
**Description**

The FAQ section of the main page on https://getnighthawk.dev is missing whitespace to match that of other sections.

**Expected Behavior**
Top and bottom section margins should be symmetric.

**Screenshots**
<img width="736" alt="Screen Shot 2021-11-29 at 10 56 10 AM" src="https://user-images.githubusercontent.com/7570704/143910304-ba6ff8b3-c56d-4bde-95b1-d71637daa0df.png">

---

[2021-11-29 16:58] #200 closed

[2021-11-29 19:18] Abusayid693 commented on #216
@leecalcote I can fix this

[2021-11-29 19:34] leecalcote commented on #216
@Abusayid693 that'd be great. Thank you.

[2021-11-30 15:09] Abusayid693 commented on #212
The text block  of same section is not  centre aligned for mobile view unlike other sections

**Bug (left aligned)**

![Screenshot 2021-11-30 at 8 24 06 PM](https://user-images.githubusercontent.com/35341198/144071813-fed63304-ef37-4350-9f57-5614f523f9c8.png)

**Other section (centre aligned)**

![Screenshot 2021-11-30 at 8 24 14 PM](https://user-images.githubusercontent.com/35341198/144072016-0db

[2021-11-30 17:09] #216 closed

[2021-12-01 21:25] l5io commented on #212
@Abusayid693 please do jump in to fix. 👍

[2021-12-01 21:25] l5io commented on #212
@The-Loony-Coder any progress to report? Any assistance needed?

[2021-12-02 11:12] The-Loony-Coder commented on #212
Hey @Abusayid693 would you like to work on this issue,I broke my screen and its taking time to get fixed up.

[2021-12-02 12:26] Abusayid693 commented on #212
@The-Loony-Coder @l5io  sure I will look into it, any idea where I find Figma file for this website design

[2021-12-04 08:11] sandeep-v1404 commented on #212
Can I work on this issue?

[2021-12-04 08:14] vedant-kakde commented on #212
@sandeep-v1404 Yes, go ahead 🚀

[2021-12-04 12:31] kayceeDev commented on #212
The image in this zip is entirely different from what is expected. @leecalcote  please can you check the zip you sent.

[2021-12-08 09:29] Abusayid693 commented on #212
@sandeep-v1404 any progress on this issue..?

[2021-12-08 09:43] kayceeDev commented on #212
The issue is currently been worked on @Abusayid693  and a PR has been created regarding it #210
@leecalcote can the SVG of the image still be generated by any chance because after going through the suggested steps in the last meeting, the pixel of the image is still affected when resizing the page?.

[2021-12-10 18:07] cpepper96 opened #221 "Add newcomers-alert workflow"
**Current Behavior**

This repo currently does not have the newcomer-alert workflow added. There is no automated process for notifying slack when a good newcomer issue has been added.

**Desired Behavior**

Add the newcomer-alert workflow to the repo.

---

**Contributor Resources**

- See the [Contributing to getnighthawk.dev Website](https://github.com/layer5io/getnighthawk/blob/master/CONTRIBUT

[2021-12-10 18:08] cpepper96 commented on #221
can someone assign this issue to me?

[2021-12-10 18:13] theBeginner86 commented on #221
@cpepper96 you are good to go 🚀

[2021-12-11 07:30] FidalMathew opened #224 "Update slack.yml workflow"
**Current State:**
   Outdated slack.yml

**Desired State:**
   Updated repository with slack.yml  workflow

---
**Contributor Resources**

- See the [Contributing to getnighthawk.dev Website](https://github.com/layer5io/getnighthawk/blob/master/CONTRIBUTING.md)
- See the Project Site section of [GetNighthawk project doc](https://docs.google.com/document/d/1lHfMo4iIx2WXFZIspfHyxTsPR1T63_2IV5NUkgxo

[2021-12-11 12:30] theBeginner86 commented on #221
I'm reopening this issue as I think it got closed by mistake.

[2021-12-11 12:33] theBeginner86 commented on #224
Thank you @FidalMathew for opening this issue.

Actually, there was already one issue addressing the newcomers-alert workflow. Can you please modify this issue to address just the slack workflow?

[2021-12-11 16:47] FidalMathew commented on #224
Sure, I would like to work on this issue too!

[2021-12-11 17:51] theBeginner86 commented on #224
@FidalMathew 🚀

[2021-12-11 18:36] leecalcote commented on #224
Teamwork!

[2021-12-13 16:40] #224 closed

[2021-12-14 13:16] #221 closed

[2021-12-22 08:39] Abhijay007 commented on #78
I want to work on this issue? is anyone already working on this ??

[2021-12-23 08:49] Abhijay007 commented on #44
Do we need to create a "newsletter component" ? that may get embed in footer so that nighthawk contributors, users, maintainers get a specified mail and when they enter their emails id's they get subscribed to the mailing list of this specific project?

we have something similar in the layer5.io site and meshery site too right? ( but I think is for all mails after by layer and meshery community )

[2021-12-23 16:46] leecalcote commented on #44
This one was really for me to create a Google Group mailing list, which I believe we have now (see the mailing list section on the main page). Yes, you're right - we essentially want the same thing that we have on amp-spec.io and meshery.io. We essentially have that now, but are missing two things:

1. a text field to receive visitor's email address, so that they can subscribe to the community mai

[2021-12-23 16:48] leecalcote opened #228 "Avoid skewing screenshot during browser resizing"
@NikhilSharma03

https://user-images.githubusercontent.com/7570704/146934968-1834869d-047b-4fc8-ad97-900085d305ca.mov

one thing - - - the aspect ratio isn't maintained during one segment of the breakpoints.

_Originally posted by @leecalcote in https://github.com/layer5io/getnighthawk/issues/227#issuecomment-998763924_

[2021-12-23 16:48] leecalcote opened #229 "Form for community mailing list"
This one was really for me to create a Google Group mailing list, which I believe we have now (see the mailing list section on the main page). Yes, you're right - we essentially want the same thing that we have on amp-spec.io and meshery.io. We essentially have that now, but are missing two things:

1. a text field to receive visitor's email address, so that they can subscribe to the community mai

[2021-12-23 16:49] leecalcote commented on #44
I've opened a new issue to track these two items, please comment, if you would like it assigned to you, @Abhijay007.

[2021-12-23 16:49] #44 closed

[2021-12-24 05:03] Abhijay007 commented on #229
I want to work on this issue, please assign this issue to me !!

[2021-12-24 05:40] theBeginner86 commented on #229
@Abhijay007 🚀

[2021-12-24 09:16] debo19 opened #230 "Fix link in the footer"
**Description**
The link directs to https://getnighthawk.dev/docs/what-is-getnighthawk but the page doesn't exist.

**Expected Behavior**
The link should direct to https://getnighthawk.dev/docs/what-is-nighthawk/

**Screenshots**

![nighthawk](https://user-images.githubusercontent.com/85789734/147338718-38359520-8885-4b2f-ad30-ab5e2d76889f.jpg)

**Environment:**

- OS: [e.g. Ubuntu]
- Browser: [e.

[2021-12-24 09:31] Swapnil-Bhabal commented on #230
Kindly assign this task to me @debo19

[2021-12-24 10:01] Swapnil-Bhabal commented on #230
#232
Thats my PR on this issue @debo19  , i have made the required changes
Kindly review my PR, Thank you.

[2021-12-25 18:12] msaini0r commented on #88
@shubham-tyagi are you working on this issue? Otherwise, I can start working on this?

[2021-12-25 21:51] shubham-tyagi commented on #88
Hey @msaini0r thanks for stepping up, I was caught up in other issues.

[2021-12-26 10:13] adithyaakrishna commented on #212
Closing this in favor of https://github.com/layer5io/getnighthawk/pull/227

[2021-12-26 10:13] #212 closed

[2021-12-27 00:06] ahmadateya commented on #230
I think this issue should be closed too.

I am looking for a small good first issue to start with, that's why I am leaving this comments :sweat_smile:

[2021-12-27 00:08] leecalcote commented on #230
@ahmadateya here's one - https://github.com/meshery/meshery-nsm/issues/135

This link might be helpful in finding others - https://github.com/issues?q=is%3Aopen+is%3Aissue+archived%3Afalse+org%3Alayer5io+org%3Ameshery+org%3Aservice-mesh-performance+org%3Aservice-mesh-patterns+label%3A%22help+wanted%22+

[2021-12-27 00:11] ahmadateya commented on #230
@leecalcote thank you :heart:

[2021-12-29 10:02] #230 closed

[2021-12-29 13:10] navendu-pottekkat commented on #78
1. Will nighthawk_client and nighthawk_server still be supported?

Yes, GetNighthawk will publish the Nighthawk binaries which can be dowloaded directly or used through a Docker image.

2. What projects are related to GetNighthawk?

Meshery, the service mesh management plane uses Nighthawk as a load generator for running performance tests. Meshery uses the Docker image published by GetNighthawk to

[2021-12-29 13:23] Abhijay007 commented on #78
thanks for this :)

[2021-12-29 16:56] #78 closed

[2021-12-29 16:57] #228 closed

[2022-01-01 20:56] leecalcote commented on #88
@msaini0r any progress to speak of?

[2022-01-01 20:58] msaini0r commented on #88
You will have a pr by tomorrow. @leecalcote

[2022-01-01 22:09] leecalcote commented on #206
@kayceeDev can you take this on?

[2022-01-01 22:10] leecalcote commented on #195
@AnshumanDhiman there have been some site updates since this bug was filed. Will you confirm if this is still on open defect?

[2022-01-02 20:38] msaini0r commented on #88
@leecalcote I am working on this issue. When I am trying to change the CSS for the navigation bar, it is changing for the whole mobile view not just for the docs section. Just wanted to confirm this issue is only for the docs section or for the whole mobile view to make a new floating navigation bar?

Below gif is just a sample.

![screen-capture](https://user-images.githubusercontent.com/87536360

[2022-01-02 20:44] leecalcote commented on #88
@vinayaksh42 can confirm.

[2022-01-02 21:31] vinayaksh42 commented on #88
Hi @msaini0r, For this issue we actually want to change the docs navigation menu and not the website's navigation menu. Basically the navigation menu that is used for going from one section of the documentation to the other. Right now, when we switch to mobile view in Docs section, We get two burger menus. One for the website navigation and one for the docs navigation. We want to change the docs n

[2022-01-02 22:55] Abhijay007 commented on #229
https://user-images.githubusercontent.com/64387054/147891575-fbd5f537-f66d-4206-bcb3-2065bc4bde14.mp4

@leecalcote I am done with the formatting, do it need to add anything else? can a open a pr for this now?

[2022-01-02 22:57] leecalcote commented on #229
Looks pretty good, @Abhijay007. Yes.

Let's change our working structure to: when you're ready for feedback, pop open a PR. 👍

[2022-01-02 23:24] Abhijay007 commented on #229
ok

[2022-01-02 23:24] Abhijay007 commented on #229
ok

[2022-01-04 19:30] AnshumanDhiman commented on #195
I checked it. The issue is solved. Let me close this issue

[2022-01-04 19:30] #195 closed

[2022-01-06 16:27] #229 closed

[2022-01-07 18:36] Abhijay007 opened #235 "[Site] : Set the Open Graph image for the nighthawk site"
**Current State of the GetNighthawk.dev site**

The nighthawk project doesn't have required OG (Opengraps) tags

![image](https://user-images.githubusercontent.com/64387054/148590119-9fac9ab8-63e5-4eb4-8364-982fb7b828ce.png)

**Desired State of the GetNighthawk.dev site**

Add required og: tags for the image so that it has a preview image while sharing links associated with it on any social networ

[2022-01-07 22:15] Vidyaa123 commented on #235
@Abhijay007, I will work on this issue please, thanks

[2022-01-07 22:54] leecalcote commented on #235
Thanks for this, @Abhijay007, @Vidyaa123 👍

[2022-01-08 14:59] msaini0r commented on #88
@leecalcote @shubham-tyagi I am unassigning myself, I am not able to solve this issue.

[2022-01-15 18:03] l5io commented on #177
Completed?

[2022-01-15 20:51] Abhijay007 commented on #189
@leecalcote I want to work on this issue !!

[2022-01-15 21:37] leecalcote opened #237 "Unhandled Exception in Output Transform"
**Description**

A performance test was invoked from Meshery UI with the following profile:

[code]

The test seems to run, but crashes as output is transformed upon return to the user.

**Expected Behavior**

Test should complete and display results to the user.

**Logs**

[code]

#### Environment

- Host OS: Mac
- Meshery Server Version: stable-v0.6.0-rc-3
- Meshery Client Version: stable-v0.6.0

[2022-01-15 21:37] leecalcote commented on #237
@gyohuangxin, is this an issue that you can investigate?

[2022-01-15 22:04] leecalcote commented on #206
@Neilblaze is this an issue you can address?

[2022-01-15 22:05] #158 closed

[2022-01-16 09:12] anirudh-bukka commented on #189
May I work on this too? (Is collaboration allowed?)

[2022-01-16 11:11] Abhijay007 commented on #189
why not @anirudh-bukka you can go ahead with this, I will help you in the process !! let's close this issue 🚀 , ping me on slack !!

[2022-01-16 11:36] Neilblaze commented on #206
I don't see any such issue populating on my end, but when I zoom out to 25% (on my PC), only then, this actually become prominent. But yeah, if the CSS can be tweaked, then it can be restricted to it's 50% area-scope

[2022-01-17 15:28] leecalcote commented on #206
@Neilblaze, good. Can you carry this forward?

[2022-01-17 15:37] leecalcote commented on #237
Thank you, @gyohuangxin 👍

[2022-01-18 11:18] gyohuangxin commented on #237
I can reproduce this error with Meshery Server Version stable-v0.6.0-rc-3 and stable-v0.6.0-rc-4, but if I build a image from Meshery v0.6.0-rc-4 branch with `make docker` command and apply this test image to Meshery deployment:
[code]

Then it works to run performance test with nighthawk.
![image](https://user-images.githubusercontent.com/42127654/149926955-2bbf11ca-43dd-4e0c-9b23-eae5a3c72e19.pn

[2022-01-19 14:40] akshitarora921 commented on #206
@leecalcote Can you assign this to me, please?

[2022-01-19 14:45] akshitarora921 commented on #175
@vinayaksh42 Can you please explain more?

[2022-01-19 14:55] akshitarora921 commented on #88
@vinayaksh42 @leecalcote I think we should put all the options in the main navbar.

[2022-01-20 08:54] akshitarora921 opened #239 "[Site] faq title arrows should be spaced apart"
#### Current Behavior
The meshery nighthawk faq title and arrow are adjacent to each other

#### Expected Behavior
It should be space apart and consistent irrespective to the faq title length
#### Screenshots/Logs
![image](https://user-images.githubusercontent.com/11087313/150305472-794b18b2-2153-47c6-a23a-03268ba4e862.png)

#### Contributor Resources

- See the [Contributing to getnighthawk.dev W

[2022-01-20 08:55] akshitarora921 commented on #239
Please assign this to me

[2022-01-22 16:40] Abhijay007 commented on #239
@akshitarora921 go ahead !! 🚀

[2022-01-22 20:00] adithyaakrishna commented on #88
@anirudh-bukka Would you like to give this a try?

[2022-01-23 08:49] anirudh-bukka commented on #88
@adithyaakrishna , I have mostly will have my Finals and Labs in a week, so I am not sure if I will be able to spend time on this issue. But I will let you know and work on this if they are postponed.

[2022-01-23 11:29] #189 closed

[2022-01-23 11:51] #239 closed

[2022-01-23 12:51] Sunnyio commented on #177
Hey @navendu-pottekkat  can i work on this?

[2022-01-25 02:29] leecalcote commented on #237
@DelusionalOptimist, will you engage with @gyohuangxin here?

[2022-01-25 02:33] #177 closed

[2022-01-25 02:36] leecalcote commented on #175
Gents, you could export a few of the slides as SVGs from this deck - https://docs.google.com/presentation/d/1arewKYZuhkv7NGRZKx0w-7bQdS-ho-YSYJF0X32qfHo/edit# and incorporate into the docs. 👍

[2022-01-25 07:59] Sunnyio commented on #88
I would like to give it a shot.

[2022-01-25 11:49] DelusionalOptimist commented on #237
@gyohuangxin this might be happening due to inconsistency between the results produced by Nighthawk and expected by the transformer.
Meshery server still seems to be using the old version of getnighthawk which had the old transformer (combination of `nighthawk_output_transform` and some hacks in Go). While transforming results, the old transformer looks for the `h2` flag. However it was deprecated

[2022-01-25 13:53] gyohuangxin commented on #237
@DelusionalOptimist Thank you for the answer. It's the reason why I ask the difference of images release between getnighthawk and meshery.
As I mentioned above, if I rebuild Meshery v0.6.0-rc-4 and re-deploy then it works, however, v0.6.0-rc-4 still use getnighthawk v1.0.3.

https://github.com/meshery/meshery/blob/64c7097b5c1d73acf24fd1e054cbdac732356629/go.mod#L41

But your commit to removed `h2`

[2022-01-26 06:01] shubham-tyagi commented on #88
Thanks @Sunnyio, for taking this up.

[2022-01-26 13:18] DelusionalOptimist commented on #237
As I mentioned above, if I rebuild Meshery v0.6.0-rc-4 and re-deploy then it works, however, v0.6.0-rc-4 still use getnighthawk v1.0.3.

Not sure @gyohuangxin... the published image and the image that you've built locally with `make docker` should work the same way. Also, the screenshot you shared in one of the comments is missing proper test result data so I think there would have been some error

[2022-01-27 01:49] gyohuangxin commented on #237
@DelusionalOptimist Thanks. The action we need now is to published a new getnighthawk release and image . After that, I will raise a PR to change this pointer in Meshery.
@leecalcote Can you help with the new release of getnighthawk?

[2022-01-27 02:19] leecalcote commented on #237
@gyohuangxin absolutely. Making a new release now....

[2022-01-27 03:47] Sonichigo commented on #175
can i work on this? @warunicorn19 @leecalcote

[2022-01-27 05:26] YashKamboj commented on #175
@Sonichigo i think @akshitarora921 is already working on it

[2022-01-27 07:46] gyohuangxin commented on #237
@leecalcote @DelusionalOptimist The PR has been raised to upgrade getnighthawk version in meshery, please have a review. Thanks.

[2022-01-27 07:55] akshitarora921 commented on #175
Thank you, @Sonichigo. I am not working on this issue. You can take this up. ✌🏼

[2022-01-27 08:34] gyohuangxin commented on #237
@DelusionalOptimist Unit Tests and build failed due to the same error "unknown field `H2` in struct literal", can you look at that? https://github.com/meshery/meshery/runs/4963356841?check_suite_focus=true

[2022-01-27 20:49] #237 closed

[2022-01-28 06:12] #88 closed

[2022-01-28 19:38] #206 closed

[2022-01-30 16:53] warunicorn19 commented on #175
@leecalcote could you please give some more insights on this? is there a need to create sub-sections like @vinayaksh42 has written in the issue above? or just incorporate svgs from the slide deck into the existing docs.

[2022-01-30 18:04] leecalcote commented on #175
I think we're all set on the sections, but yes, could use some additional illustrations added to the docs by way of exporting a few of slides as SVGs and inserting into the docs.

[2022-01-31 17:30] Sonichigo commented on #175
Hey @leecalcote is the presentation access removed? Have imported just 1-2 svg at most yet

[2022-02-03 02:43] #175 closed

[2022-02-05 07:49] navendu-pottekkat commented on #185
This is still a requirement right? Publishing Nighthawk binaries as assets with each release.

Or are we just going to be publishing the Docker image?

// @gyohuangxin

[2022-02-09 05:15] Sonichigo opened #246 "[Question]: Regarding Font Size and Padding of Text"
**How can we help?**

Is the text formatting made in this way for the project? As for the first timers it looks a lot clustered.

![image](https://user-images.githubusercontent.com/53110238/153126320-e6701ea5-29bd-4e47-8edc-5ed9cc377278.png)

---

**Contributor Resources**

- See the [Contributing to getnighthawk.dev Website](https://github.com/layer5io/getnighthawk/blob/master/CONTRIBUTING.md)
-

[2022-02-11 04:09] Sonichigo opened #249 "[Docs]: Name of the given docs category"
**Current State:**
Performance Benchmarking is mentioned at top in docs of https://getnighthawk.dev/ in every doc.
![image](https://user-images.githubusercontent.com/53110238/153536299-e31ac630-e9c4-4d93-8d14-4cd7b424a2f5.png)

**Desired State:**
 The name of the given docs category should probably be used instead.

---

**Contributor Resources**

- See the [Contributing to getnighthawk.dev Websit

[2022-02-12 02:52] Sunnyio commented on #249
I would like to do this.

[2022-02-12 03:02] warunicorn19 commented on #249
@Sunnyio i think @Sonichigo is already working on this, please feel free to look at other issues.

[2022-02-12 03:28] Sunnyio commented on #249
Sure. No problem @warunicorn19 .

[2022-02-13 00:24] #249 closed

[2022-02-15 09:48] YashKamboj opened #252 "Make the sidebar of the docs page sticky."
**Current Behavior**
The sidebar position is absolute

**Desired Behavior**
Make the sidebar of the docs page sticky.

---

**Resources**

**Alternatives / Additional Context**

---

**Contributor Resources**

- See the [Contributing to getnighthawk.dev Website](https://github.com/layer5io/getnighthawk/blob/master/CONTRIBUTING.md)
- See the Project Site section of [GetNighthawk project doc](https:

[2022-02-15 09:56] ritesh-karankal commented on #252
Hello there! can I work on this issue?

[2022-02-15 10:14] YashKamboj commented on #252
Go ahead!! @ritesh-karankal

[2022-02-15 19:45] Mano-08 commented on #252
Hey, may I give it a try.
do you not mean something like this
[code]

[2022-02-16 04:31] YashKamboj commented on #252
Yeah @Mano-08 But the issue is solved, you can look for issues around to work on

[2022-02-16 11:21] Mano-08 commented on #252
Oh, okay sure

[2022-02-20 18:45] #252 closed

[2022-02-21 07:51] Abhijay007 commented on #246
closed #246 via #251

[2022-02-21 07:51] #246 closed

[2022-02-21 18:25] #11 closed

[2022-02-22 09:24] debo19 opened #254 "[Docs] Sidebar in mobile view"
**Current State of the GetNighthawk.dev site**
The button to open the sidebar on [Nighthawk Docs ](https://getnighthawk.dev/docs) is placed such that it covers the content on the page and its purpose isn't very clear.
<table>
<td>
<img width="262" alt="Screenshot 2022-02-22 at 2 39 46 PM" src="https://user-images.githubusercontent.com/85789734/155100245-32b9a0bd-9875-4087-bf0b-b55085660026.png">
<

[2022-02-22 09:25] debo19 commented on #254
@YashKamboj @Abhijay007 Is either of you looking into this or is this an open issue?

[2022-02-22 09:42] Abhijay007 commented on #254
we are working on this one :)

[2022-03-14 14:22] asubedy opened #258 "[SITE] Nav Bar is missing on the mobile view of the page"
#### Current Behavior
When we open the site in mobile view, the navigation menu (hamburger menu), disappears.

#### Expected Behavior
There should be an navigation menu, that allows us to open the menu and switch to different section of the site

---

#### Contributor Resources

- See the [Contributing to getnighthawk.dev Website](https://github.com/layer5io/getnighthawk/blob/master/CONTRIBUTING.m

[2022-03-14 20:23] Chadha93 opened #259 "[UI] Pull tab enhancements for side menu"
**Current State of the GetNighthawk.dev site**
Make the bottom-most chevron to a pull tab,  refer to Meshery UI Navigator
![image](https://user-images.githubusercontent.com/65453826/158254528-6bce65b3-8a8d-41bd-8a27-578654fa9b29.png)

**Desired State of the GetNighthawk.dev site**
Convert left-align to make it a “pull tab” for the TOC drawer
![image](https://user-images.githubusercontent.com/65453

[2022-03-14 20:51] Abhijay007 commented on #259
@Chadha93 can we use this PR and enhance the changes of this one? https://github.com/layer5io/getnighthawk/pull/256 , I did a version switch for a diff project that's why the project is giving errors while running locally 😅

[2022-03-14 20:56] Chadha93 commented on #259
Sure, sounds good :+1:

[2022-03-15 02:34] sayan011 commented on #258
Hey @Chadha93 ,can I work on this issue?

[2022-03-15 03:15] siddhantprateek commented on #258
@Chadha93, I would like to try this issue.

[2022-03-15 04:02] siddhantprateek commented on #258
I can see the changes locally, but it's not visible in the build.

[2022-03-23 14:44] subhradwip01 commented on #258
Is this issue solved? If not I would like to work on that issue

[2022-03-24 02:55] siddhantprateek commented on #258
Yes, go ahead, but I think changes are already made. It's not visible in the build process.

[2022-04-10 16:32] Akshit42-hue opened #260 "update the year in the footer section"
#### Current Behavior

The year in the footer section need to change and automate it so we do not have to change manually

#### Screenshots/Logs

![Screenshot from 2022-04-10 21-59-40](https://user-images.githubusercontent.com/59443454/162629740-49053edd-a4d1-4421-a9a0-85ec25ead3ca.png)

#### Environment

- **Host OS:** Linux

---

#### Contributor Resources

- See the [Contributing to getnighthaw

[2022-04-14 05:06] #260 closed

[2022-04-21 15:06] mum4k opened #262 "[Docs] Instructions to build Nighthawk are incomplete"
Hello,

we were [notified](https://github.com/envoyproxy/nighthawk/issues/832) [recently](https://github.com/envoyproxy/nighthawk/issues/833) that [the instructions](https://getnighthawk.dev/docs/building-nighthawk/) on how to build Nighthawk are incomplete.

We are addressing this in the Nighthawk repository in [PR#838](https://github.com/envoyproxy/nighthawk/pull/838). How would you like to appr

[2022-05-31 14:50] kunalchhabra37 commented on #258
I would Like to Work on this Issue.

[2022-05-31 14:57] subhradwip01 commented on #258
Go ahead...problem in build...otherwise it is ok

[2022-07-14 18:00] #235 closed

[2022-08-25 14:42] leecalcote opened #265 "Add Dependabot"
**Current Behavior**

**Desired Behavior**

---

**Resources**

**Alternatives / Additional Context**

---

**Contributor Resources**

- See the [Contributing to getnighthawk.dev Website](https://github.com/layer5io/getnighthawk/blob/master/CONTRIBUTING.md)
- See the Project Site section of [GetNighthawk project doc](https://docs.google.com/document/d/1lHfMo4iIx2WXFZIspfHyxTsPR1T63_2IV5NUkgxoo0w)

[2022-08-25 15:48] Shubhcs01 opened #266 "Can I add Highlights to nav bar items"
**Current State of the GetNighthawk.dev site**

![nightHawk](https://user-images.githubusercontent.com/81324145/186700151-3b45d179-2f56-4db0-8d21-bf4294228514.png)

Navigation bar items not highlighted on hover

**Desired State of the GetNighthawk.dev site**

Add hover option with best color match.

---

**Contributor Resources**

- See the [Contributing to getnighthawk.dev Website](https://github

[2022-10-08 03:42] #266 closed

[2022-10-27 20:22] #265 closed

[2022-10-27 20:23] #115 closed

[2022-11-25 23:18] #254 closed